*{
  color:black;
}

.header{
  text-decoration: none;
}
a{
  text-decoration: none;
}

.title{
  text-decoration: none;
  color: black;
}

.content{
  text-decoration: none;
  color: black;
}

.table{
  border:1px solid black;
}
